services:
  flask:
    build: .
    container_name: flask_app
    expose:
      - "5000"
    env_file:
      - ./app/.env

  nginx:
    image: nginx:alpine
    container_name: nginx_proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/certs:/etc/nginx/certs
    depends_on:
      - flask
