<html>
<body>

{% if error %}
    <p style="color: red;">{{ error }}</p>
{% endif %}

{% if success %}
    <p style="color: green;">{{ success }}</p>
{% endif %}

<form action="{{ url_for('login_password') }}" method="post">
    <label for="email">Email: </label>
    <input type="text" id="email" name="email"><br>
    <label for="password">Password: </label>
    <input type="password" id="password" name="password"><br>
    <input type="submit" value="Submit">
</form>

<p>Nie masz konta? <a href="{{ url_for('register') }}">Zarejestruj sie</a></p>

</body>
</html>
